
<h3>Child Questions</h3>
 
<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <!--<th></th>-->
    <!--<th></th>-->
  </tr>
 
<% @question.child_questions.each do |q| %>
  <tr>
    <td><%= q.title %></td>
    <td><%= link_to "Show", project_question_path(id: q.id) %></td>
    <td><%= link_to "Remove", project_question_path(id: q.id), method: :delete, data: { confirm: "Are you sure?" } %></td>

  </tr>
<% end %>
</table>
<br>
 