  <!DOCTYPE html>
<html>
<body>

<form method="post" action= <%=  user_projects_path :method => :post %> >
  <select name="user_id" >
     <%= @users.each do |u| %>
    <option value=<%= u.id %>><%= u.email%>></option>
     <% end %>
  </select>
  <br><br>
  <input type="submit">
</form>

</body>
</html>
