<!DOCTYPE html>
<html> 

<head>
  <div class="container">
  <div class="row">
    <div class="col-md-6" id="abc">
      <h3>Questions to be answered</h3>
      <p>
        Please click on a question to be taken to the answer view
      </p>
    </div>
  </div>
  </div>

<body>
  <div class="container">
  <div class="row">
  <ol>
    <% @questions.each do|q| %>
      <li><h4><%= link_to q.title, new_project_answer_path(question_id: q, file_id: @first_file_id) %></h4></li>
    <% end %>  
  </ol>
  </div>
  </div>
</body>


</html>

<script>
    // d3.select("#abc").text(function(){
    //     console.log(d3.select("#file_selected").node().value);
    //     // console.log(params[:file_selected]);
    //     // return d3.select("#answer_file_id").value();
    // });
   console.log(<%= params[:file_selected] %>);

    // d3.select("#file_selected").on("change", function(){
    //     d3.select("#abc").text(function(){
    //       var file_id = d3.select("#file_selected").node().value;
    //       d3.select("#file_view").attr("src",)
    //       return file_id;
    //     });
    // });
</script>
