<div class="container">
  <div class="row">
    <div class="col-sm-4">

      <h3>List of Questions</h3>

      <%= render 'questions' %>
    </div>

  <div class="col-sm-8">
    <h3>List of Files</h3>
   <div id="file_preview">
     <%= render 'display_file' %>
   </div>
  </div>
  </div>
</div>

<script>

    function add_ref_js(question_id, answer_id, user_id){
        var file_id = $('[id^=current_file]').attr("selected-file");
        console.log("/projects/:project_id/answers/add_ref/?question_id="+question_id+"&answer_id="+answer_id+"&user_id="+user_id+"file_id="+file_id);
        $.ajax({
            url: "/projects/:project_id/answers/add_ref/?question_id="+question_id+"&answer_id="+answer_id+"&user_id="+user_id+"&file_id="+file_id
        });
    };

    function file_switch(id){
        var file = $('#'+id);
        var url = file.attr("data-attachment-url");
        $('#current_file').html(file.attr("data-file-name")+" "+'<span class="glyphicon glyphicon-chevron-down"></span><span class="sr-only"></span>');
//        $('#current_file').dropdown("toggle");
        $('#current_file').attr("selected-file", file.attr("data-file-id"));

        var arr = url.split('.');
        if (arr[arr.length - 1] === 'pdf') {
            url = "/annotation_viewer/viewer/web/viewer.html?file=" + url;
            $("#content_viewer").attr("src", url);
        } else {
            $("#content_viewer").attr("src", url);
        }
    };

</script>

