<h3>Other Projects</h3>
 
<table>
  <tr>
    <th>Project Name</th>
    <th>Project Description</th>
    <!--<th></th>-->
    <!--<th></th>-->
    <!--<th></th>-->
  </tr>
 
<% @otherprojects.each do |p| %>
  <tr>
    <td><%= link_to p.title, project_path(p) %></td>
    <td><%= p.description %></td>
  </tr>
<% end %>
</table>
<br>